body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 12px;
  font-family: "微軟正黑體";
}

html,
body,
h1,
h2,
h3,
h4,
p {
  padding: 0px;
  margin: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.debug *,
.debug {
  outline: 1px solid gold;
}

.background {
  background: gray;
}

.wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background: white;
  max-width: 645px;
  margin: 0px;
}

.topbar {
  background: #fad312;
  width: 100%;
  height: 8px;
}

.header,
.section {
  margin-left: 42px;
  margin-right: 42px;
}

.header h1 {
  padding-top: 54px;
  padding-bottom: 35px;
  font-size: 36px;
  font-weight: bold;
}

.header h2 {
  font-size: 14px;
}

.header h2 + h2 {
  margin-top: 11px;
}

.header h3 {
  margin-top: 22px;
  font-size: 16px;
  color: #e74149;
}

.section__title {
  font-size: 20px;
  margin-top: 50px;
}

.section__subtitle {
  margin-top: 12px;
  font-size: 14px;
}

.section__title .text-style-1 {
  color: var(--faded-red);
}

.section__form {
  height: 23px;
  width: 287px;
  margin-top: 20px;
}

input[type="text"] {
  margin-top: 19px;
}

input[type="radio"] {
  margin-top: 24px;
  font-size: 14px;
  position: relative;
}

input[type="radio"]:after {
  position: absolute;
  top: 100%;
  left: 80px;
}

.input__error {
  color: #e74149;
  position: absolute;
}

.hidden {
  display: none;
}

.buttom {
  height: 35px;
}

.starsign {
  color: #e74149;
}

.button {
  display: inline-block;
  height: 40px;
  width: 92px;
  background: #fad312;
  border-radius: 3px;
  border: none;
  margin-top: 55px;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  transition: transform 0.1s;
}

. button:hover {
  transform: scale(1.05);
  border: none;
}

@media (max-width: 420px) {
}
